@charset "UTF-8";

@font-face {
    font-family: Alexandria;
    src: url(../../Assets/Fonts/Alexandria-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: CodeItalic;
    src: url(../../Assets/Fonts/code-ubuntu-italic.ttf) format('truetype');
}

@font-face {
    font-family: CodeRegular;
    src: url(../../Assets/Fonts/code-ubuntu-regular.ttf) format('truetype');
}


:root {
    --color-gray: rgb(104, 103, 103);
    --cor-cinza-svg:rgb(119, 118, 118);
    --color-orange: rgb(255, 153, 0);
    --cor-logo:rgb(255, 191, 0);
    --cor-laranja-txt-hover:rgb(237, 131, 9);
    --cor-marrom-alaranjado:rgb(145, 78, 30);
    --cor-cinza-fraco: rgba(223, 222, 222, 0.866);
    --cor-cinza-fraco-2: rgb(175, 175, 175);
    --cor-fundo-cinza: rgb(249, 249, 249);
    --cor-azul-claro:rgb(232, 230, 253);
    --cor-azul-claro-2:rgb(215, 211, 254);
    --cor-azul-claro-3: rgb(189, 182, 247);
    --cor-carvao:rgba(0, 0, 0, 0.792);
    --cor-azul-py: rgb(66, 108, 207);
    --cor-azul-gds: rgb(113, 155, 227);
    --cor-azul-css:rgb(0, 136, 255);
    --cor-amarelo-js: rgb(255, 225, 0);
    --cor-laranja-button-hover: orange;
    --cor-code-dracula:rgba(49, 41, 58, 0.978);
    --cor-code-azul:rgb(75, 189, 255);
    --font-alexandria: Alexandria;
    --font-code-regular: CodeRegular;
    --font-code-italic: CodeItalic;
    --size-code-italic:1.123em;
}

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 1em;
    font-family: Alexandria;
    font-weight: normal;
    color: var(--color-gray);
    text-decoration: none;
    list-style: none;
    user-select: none;
}

body {
    background: var(--cor-fundo-cinza);
    padding-top: 8em;
}

main {
    padding: 0 2em;
}