@import url(Exports/Header.css);
@import url(Exports/Footer.css);
@import url(Exports/play-challenges-rank-table.css);
header {
    z-index: 100;
}

.challenges-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
    margin-top: 1em;

}

.background {
    width: 240px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.234);
}

.background > .language-card {
    height: 100%;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(60px);
    
}

.background > .language-card:hover {
    backdrop-filter: blur(90px);
}

.language-card > img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(183, 183, 183, 0.808);
    background: rgba(255, 255, 255, 0.67);
}

.language-card > .details {
    background: rgba(255, 255, 255, 0.811);
    border: 1px solid rgba(182, 182, 182, 0.381);
    padding: .5em;
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: 2px 2px 3px rgba(109, 109, 109, 0.27);
}

.language-card > .details:hover {
    background: rgba(255, 255, 255, 0.911);
    transition: background .2s;
}

.language-card > .details > h2 {
    color: var(--color-orange);
    font-size: 1.1em;
}

.language-card > .details > h3 {
    font-size: .8em;
    margin-top: .5em;
    color: var(--cor-carvao);
}

.language-card > .details > .score-container {
    font-size: .8em;
    color: var(--cor-carvao);
}

.language-card > .details > .score-full > span {
    color: var(--cor-laranja-txt-hover);
}

.language-card > .details > button {
    font-size: .8em;
    color: var(--cor-carvao);
    background: transparent;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 2px 2px 2px 10px;
    padding: 1px .5em;
    cursor: pointer;
    margin-top: .8em;
}

.language-card > .details > button:hover,
.language-card > .details > button:hover > svg {
    border-color: var(--color-orange);
    color: var(--color-orange);
    fill: var(--color-orange);
    transition-duration: .2s;
}

.language-card > .a-container {
    border: 1px solid rgb(255, 255, 255);
    margin: auto 0 0 0;
    display: flex;
    justify-content: end;
    padding: 4px;
    border-radius: 15px;
}

.language-card > .a-container a.go-to-challenge {
    background: var(--color-orange);
    color: white;
    border: 1px solid white;
    font-size: .8em;
    border-radius: 15px;
    padding: 2px 1em;
}

.language-card > .a-container > a.go-to-challenge:hover {
    background: var(--cor-laranja-button-hover);
    transition-duration: .3s;
}


.challenges-list .open-ranking-button > svg {
    width: 10px;
    height: 10px;
    fill: var(--cor-carvao);
}