@import url(Exports/pressets.css);
@import url(Exports/Header.css);
@import url(Exports/main-slide.css);
@import url(Exports/Footer.css);


body {
    padding-top: 8em;
    background: var(--cor-fundo-cinza);
}
header {
    z-index: 10;
}

main {
    padding: 0 2em;
    height: 100vh;
}

main > p {
    margin-bottom: 5em;
}

