@import url(Exports/Header.css);
@import url(Exports/Footer.css);
@import url(Exports/play-challenges-rank-table.css);


.quest-header > .cronometer{
    display: flex;
    justify-content: center;
    width: 200px;
    background: var(--color-orange);
    border-radius: 17px;
    height: fit-content;
    padding: 5px 0;
}

.cronometer > .start-button {
    margin-right: 1em;
    width: 80px;
    padding: 1px 0;
    letter-spacing: 1px;
    cursor: pointer;
    background: white;
    border-radius: 18px;
    font-size: .75em;
    border: 1px solid white;
}

.cronometer > #running{
    color: white;
    opacity: 40%;
    background: transparent;
    border-color: white;
    cursor: default;
}

.cronometer > .start-button:hover {
    background: rgb(250, 250, 250);
    border-color: rgb(232, 230, 230);
    color: var(--color-orange);
    transition-duration: .3s;
}

.cronometer > .timer {
    display: inline-flex;
    column-gap: 3px;
    color: white;
}

.cronometer > .timer > div {
    color: white;
    text-align: center;
    width: 22px;
}

.quest-header > .tutorial-button {
    cursor: pointer;
    background: transparent;
    height: fit-content;
    padding: 2px;
    display: inline-flex;
    align-self: center;
}

.quest-header > .tutorial-button > svg {
    width: 15px;
    height: 15px;
    fill: var(--cor-cinza-fraco-2);
}

.quest-header > .tutorial-button:hover > svg{
    fill: var(--cor-marrom-alaranjado);
}


/* Card de perguntas */

.quest-card {
    border: 1px solid rgba(199, 199, 199, 0.478);
    box-shadow: 0px 0px 2px rgba(196, 196, 196, 0.323);
    margin: 0 2%;
    padding: 1.5em;
}

.quest-card > .quest-header {
    border-bottom: 1px solid rgba(208, 208, 208, 0.674);
    box-shadow: 0 2px 1px rgba(218, 218, 218, 0.148);
    display: flex;
    column-gap: 2em;
    align-items: center;
}

.quest-header > .lang-logo {
    height: 50px;
    width: 50px;
}

.quest-header > .quest-number {
    height: fit-content;
    display: inline-flex;
    font-size: 1.4em;
}

.quest-number > .inner-txt {
    margin-right: .5em;
}

.quest-header > .quest-number > span:not(.inner-txt){
    color: var(--color-orange);
}

.quest-header > .dificulty-levels {
    z-index: -1;
    display: flex;
    column-gap: .1em;
    margin-left: auto;
    align-self: flex-start;
    height: fit-content;
    font-size: .46em;
}

.quest-header > .dificulty-levels > div {
    opacity: 15%;
    width: 47px;
    padding: 1px 0;
    text-align: center;
    color: white;
}

.quest-header > .dificulty-levels > .basic {
    background: rgb(164, 161, 161);

}

.quest-header > .dificulty-levels > .medium {
    background: rgb(154, 113, 237);
}

.quest-header > .dificulty-levels > .advanced {
    background: rgb(240, 71, 167);
}

.quest-header > .dificulty-levels > .pro {
    background: rgb(247, 216, 13);
}

.quest-header > .dificulty-levels > #current-level {
    opacity: 1;
    position: relative;
}

.quest-header > .dificulty-levels > #current-level::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    padding: .4px;
    width: 100%;
    background: var(--color-orange);
}

.quest-card > .quest-area {
    position: relative;
    z-index: -1;
    border: 1px solid rgb(225, 225, 225);
    color: var(--cor-carvao);
    background: white;
    margin: 1em;
    padding: 1em 2em;
    text-indent: 1.5em;
}

.quest-card > .quest-area::before {
    position: absolute;
    height: 18px;
    left: 2em;
    top: .6em;
    content: '';
    padding: 3px;
}

/* Barra colorida lateral ao campo de perguntas */

.quest-card > p.js::before {
    background: var(--cor-amarelo-js);
}

.quest-card > p.py::before {
    background:var(--cor-azul-py);
}

.quest-card > p.css::before {
    background: var(--cor-azul-css);
}

.quest-card > p.gds::before {
    background: var(--cor-azul-gds);
}
/* Bloco de código */

.quest-card > .code-block {
    margin: 0 1em;
    background-color: var(--cor-code-dracula);
    border-radius: 10px;
    overflow-x: auto;
}

.code-block > .code-capsule {
    color: rgb(162, 182, 203);
    font-size: 1.124em;
    user-select: text;
    font-family: var(--font-code-regular);
}

.code-block > .code-capsule * {
    font-family: var(--font-code-regular);
    font-weight: 300;
    user-select: text;
}


.code-capsule .def {
    font-family: var(--font-code-italic);
    color: var(--cor-code-azul);
}

.code-capsule .func-method-name,
.code-capsule .dollar-func {
    color: rgb(98, 221, 22);
}

.code-capsule .param {
    font-family: var(--font-code-italic);
    color:rgb(255, 151, 23);
}

.code-capsule .var-name {
    color: white;
}

.code-capsule .str-text {
    color: rgb(230, 217, 107);
}

.code-capsule .const-name {
    color: rgb(184, 108, 224);
}

.code-capsule .number {
    color: rgb(51, 88, 255);
}

.code-capsule .none-value {
    color: rgb(255, 137, 135);
}

.code-capsule .bool {
    color: rgb(253, 51, 213);
}

.code-capsule .statement,
.code-capsule .template-str,
.code-capsule .brace {
    color: rgb(248, 59, 59)
}

.quest-card > .code-empty {
    display: none;
}

.quest-card > .code-full {
    display: block;
    word-wrap: break-word;
}

.frag{
    color: var(--color-orange);
    font-family: var(--font-code-italic);
}



/* Alternativas */

.alternatives {
    border: 1px solid rgb(225, 225, 225);
    margin: 1em;
    padding: 1em 2em;
    background: white;
    display: flex;
    flex-direction: column;
    row-gap: .4em;
}

.alternatives > label {
    display: flex;
    align-items: start;
    column-gap: .5em;
    cursor: pointer;
    
}

.alternatives > label > * {
    color: var(--cor-carvao);
}

label * {
    pointer-events: none;
}

label > .input-box {
    display: flex;
    column-gap: .4em;
    align-items: center;
}

label > .input-box > input {
    display: none;
}

label > .input-box > .radio-mask {
    outline: 1px solid gray;
    border: 2px solid white;
    opacity: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


label > .input-box > span {
    width: max-content;
    color: var(--cor-carvao);
}


label > .input-box > input:checked + .radio-mask {
    background: var(--color-orange);
    opacity: 1;
    outline-color: var(--color-orange);
    transition-duration: .3s;
}


label:hover > .input-box > .radio-mask {
    background: var(--cor-cinza-fraco-2);
    opacity: 1;
    transition-duration: .3s;
}

label:hover > *,
label:hover > .input-box > span {
    color: rgb(128, 128, 128);
    transition-duration: .3s;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-container > .confirm-resp-button {
    margin-left: 1em;
    background: var(--color-orange);
    color: white;
    padding: 2px 1em;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.448);
}

.btn-container > .confirm-resp-button:disabled {
    background: transparent;
    cursor: default;
    color: rgb(221, 221, 221);
}

.btn-container > .confirm-resp-button:not(:disabled):hover{
    cursor: pointer;
    background: var(--cor-laranja-button-hover);
}

/* Animações */
.correct-anim {
    position: relative;
    border: 1px solid green;
    padding-left: 1em;
    border-radius: 10px;
    transition-duration: .5s;
}

label.correct-anim > .input-box > .radio-mask {
    animation: flash 1s infinite;
    background: green !important;
    outline-color: green !important;
}

label.wrong-anim {
    position: relative;
}


label.wrong-anim::before {
    position: absolute;
    left: -1.7em;
    transform: translateY(-26%);
    content: '😔';
    animation: ease-in-out emoji-bounce 1s infinite alternate;
}

label.happy-face-emoji::before {
    position: absolute;
    content: '😊';
    transform: translateY(-26%);
    left: -1.7em;
    animation: ease-in-out emoji-bounce 1s infinite alternate;
}

label.warn-emoji::before {
    position: absolute;
    content: '⚠️';
    transform: translateY(-26%);
    left: -1.7em;
    animation: ease-in-out emoji-bounce 1s infinite alternate;
}

.wrong-anim {
    border: 1px solid rgb(248, 2, 2);
    padding-left: 1em;
    border-radius: 10px;
    transition-duration: .5s;

}


label.wrong-anim > .input-box>.radio-mask {
    opacity: 1;
    background: rgb(250, 1, 1) !important;
    outline-color: rgb(243, 5, 5) !important;
}

.warn-text {
    display: none;
    border: 1px solid rgb(255, 55, 55);
    margin: .3em 2% 0 2%;
    column-gap: .5em;
    padding: 2px 1em;
    font-size: .8em;
    animation: border-flash 1s infinite;
    background: rgb(255, 239, 239);
}

.warn-text > .inner-text {
    color: var(--cor-carvao);
}

/* Botão de Next Quest */
.btn-container > .next-quest-button {
    display: none;
    cursor: pointer;
    align-items: center;
    column-gap: .5em;
    background: transparent;
    margin-right: 1em;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 2px 1em;
}

.btn-container > .next-quest-button:hover {
    border-color: var(--color-orange);
    transition-duration: .4s;
}

.next-quest-button:hover :is(.inner-text, svg) {
    color: var(--color-orange);
    fill: var(--color-orange);
    transition-duration: .3s;
}

.next-quest-button > .inner-text {
    font-size: .9em;
}

.next-quest-button > .svg-capsule {
    display: flex;
}

.next-quest-button > .svg-capsule > svg {
    width: 25px;
    height: 25px;
    fill: var(--color-gray);
}

@keyframes border-flash {
    50% {
        background: rgb(251, 182, 182);
        border-color: transparent;
    }
}


@keyframes emoji-bounce {
    0% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(-5%);
    }
}



@keyframes flash {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}
/* **************************** */


@media screen and (max-width: 900px) {

    header {
        z-index: 100;
    }
    .quest-header {
        z-index: 0;
        margin-top: .5em;
        position: relative;
    }
    .dificulty-levels {
        position: absolute;
        right: 2em;
        top: -2.5em;
    }
    
}

@media screen and (max-width: 660px) {
    .quest-card {
        margin: 0;
    }

    main {
        padding: 0 .2em;
    }
    .quest-header > .quest-number {
        font-size: 1.3em;
    }

    .quest-card > .code-block,
    .quest-card > .quest-area,
    .quest-card > .alternatives{
        margin: .6em 0;
    }

    .btn-container > .confirm-resp-button {
        font-size: .8em;
    }

    
}

@media screen and (max-width: 570px) {
    .dificulty-levels {
        top: -3em;
    }

    .quest-card > .quest-header {
        column-gap: 0;
        justify-content: space-between;
    }

    .code-block > .code-capsule {
        font-size: .7em;
    }

    .quest-header > .lang-logo {
        width: 40px;
        height: 40px;
    }

    .quest-header > .quest-number {
        margin-right: auto;
        margin-left: .5em;
        font-size: 1.1em;
    }

    .quest-header > .tutorial-button {
        position: absolute;
        top: -1.7em;
        right: -1em;
    }

    .quest-header > .cronometer{
        padding: 3px 1em;
        font-size: .8em;
        width: max-content;
    }

    .quest-header > .cronometer > .start-button {
        width: fit-content;
        padding: 1px 1em;
    }
}

@media screen and (max-width:410px){
    .quest-header > .quest-number {
        position: absolute;
        font-size: .9em;
        top: -1.9em;
        left: -1.5em;
    }

    .dificulty-levels {
        top: -3.2em;
    }
    
}



